<!doctype html>
<html>

<head>
    <title>MyCloud services</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="images/logo.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/files.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css"
        integrity="sha512-0/rEDduZGrqo4riUlwqyuHDQzp2D1ZCgH/gFIfjMIL5az8so6ZiXyhf1Rg8i6xsjv+z/Ubc4tt1thLigEcu6Ug=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar navbar-dark nav-b">
        <div class="container-fluid nav-c">
            <a class="navbar-brand" href="/">
                <img src="images/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                MyCloud
            </a>
        </div>
    </nav>
    <!-- Toast -->
    <div class="toast align-items-center text-white border-0 hide toast-c" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            Copy successfully
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>


    <div class="container flex-grow-1 light-style container-p-y">
        <div class="container-m-nx container-m-ny bg-lightest mb-3">
            <ol class="breadcrumb text-big container-p-x py-3 m-0">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">/</a>
                </li>
            </ol>

            <hr class="m-0" />

            <div class="file-manager-actions container-p-x py-2">
                <div>
                    <a href="/upload">
                    <button type="button" class="btn btn-primary mr-2"><i class="ion ion-md-cloud-upload"></i>&nbsp;
                        Upload</button></a>
                </div>
            </div>

            <hr class="m-0" />
        </div>

        <div class="file-manager-container container file-manager-row-view">
            
            <div class="container flex-grow-1 light-style container-p-y">
            <% files.forEach(file => { %>
                <div class="file-item">
                    <div class="file-item-select-bg bg-primary"></div>
                    <div class="file-item-icon far fa-file"></div>
                    <a href="<%- "/f/" + file.name %>" class="file-item-name">
                        <%- file.name %>
                    </a>
                    <div class="file-item-changed"><%- file.uploadAt %></div>
                    <div class="dropdown file-item-actions btn-group">
                        <button class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ion ion-ios-more"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                          <li><a class="dropdown-item" href="javascript:void(0)">Make public</a></li>
                          <li><a class="dropdown-item" href="javascript:void(0)">Delete</a></li>
                          <li><a class="dropdown-item" href="javascript:void(0)" onclick="copyLink('<%- file.name %>')" id="copyButton">Copy link</a></li>
                        </ul>
                      </div>
                    <!-- <div class="file-item-actions btn-group">
                        <button type="button"
                            class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                            data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                            <a class="dropdown-item" href="javascript:void(0)">Move</a>
                            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                        </div>
                    </div> -->
                </div>
                <% }); %>
            </div>
<!-- 
            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon far fa-folder text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Images
                </a>
                <div class="file-item-changed">02/13/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon far fa-folder text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Scripts
                </a>
                <div class="file-item-changed">02/14/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon far fa-folder text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Utils
                </a>
                <div class="file-item-changed">02/15/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon far fa-file-archive text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Archive.zip
                </a>
                <div class="file-item-changed">02/16/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon fab fa-js text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Build.js
                </a>
                <div class="file-item-changed">02/17/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon far fa-file-word text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Checklist.doc
                </a>
                <div class="file-item-changed">02/18/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon fab fa-html5 text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Index.html
                </a>
                <div class="file-item-changed">02/19/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-img"
                    style="background-image: url(https://bootdey.com/img/Content/avatar/avatar1.png);"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Image-1.jpg
                </a>
                <div class="file-item-changed">02/20/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-img"
                    style="background-image: url(https://bootdey.com/img/Content/avatar/avatar6.png);"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Image-2.png
                </a>
                <div class="file-item-changed">02/21/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-img"
                    style="background-image: url(https://bootdey.com/img/Content/avatar/avatar4.png);"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Image-3.gif
                </a>
                <div class="file-item-changed">02/22/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon fab fa-js text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Main.js
                </a>
                <div class="file-item-changed">02/23/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon far fa-file text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    MAKEFILE
                </a>
                <div class="file-item-changed">02/24/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon far fa-file-pdf text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Presentation.pdf
                </a>
                <div class="file-item-changed">02/25/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon far fa-file-alt text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    README.txt
                </a>
                <div class="file-item-changed">02/26/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon fab fa-css3 text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Style.css
                </a>
                <div class="file-item-changed">02/27/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon far fa-file-audio text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Test.mp3
                </a>
                <div class="file-item-changed">02/28/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div>

            <div class="file-item">
                <div class="file-item-select-bg bg-primary"></div>
                <label class="file-item-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label"></span>
                </label>
                <div class="file-item-icon far fa-file-video text-secondary"></div>
                <a href="javascript:void(0)" class="file-item-name">
                    Tutorial.avi
                </a>
                <div class="file-item-changed">03/01/2018</div>
                <div class="file-item-actions btn-group">
                    <button type="button"
                        class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle"
                        data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Rename</a>
                        <a class="dropdown-item" href="javascript:void(0)">Move</a>
                        <a class="dropdown-item" href="javascript:void(0)">Copy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
    <script src="/static/js/files.js"></script>
</body>

</html>