<!doctype html>
<html>

<head>
  <title>MyCloud services</title>
  <%- include("./partials/head") %>
</head>

<body>
  <%- include("./partials/nav") %>
  

  <% if (isLogging == true) { %>
    <!-- logging -->
    <div class="container main-b">
      <div class="jumbotron text-center text-primary"> 
        <h1>Welcome <span class="text-danger"><%- user.name %></span> to MyCloud</h1>
        <p class="text-primary">Here your control panel</p>
        <a href="/files"><button type="button" class="btn btn-primary">Your files</button></a>
        <a href="/upload"><button type="button" class="btn btn-secondary">Upload files</button></a>
        <a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
      </div>
      
    </div>
    <%} else {%>
      <!-- if not login -->
      <div class="container main-c">
        <div class="jumbotron text-center text-primary">
          <h1><img src="/images/logo.png" alt="" width="50" height="50"> MyCloud Login</h1>
          <p>Please make sure you are logged in to use this page:</p>
          <a href="/auth" class="btn btn-primary"><span class="fa fa-github"></span> Github Login</a>
        </div>
      </div>
      <% } %>  
</body>

</html>