<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
</head>
<body>
    <section>
        <h1>Welcome to my CDN</h1>
        <h2>upload files if you <a href="/login">login</a></h2>
        <h2>open your files <a href="/show">show</a></h2>
        <input type="file" id="file1" name="upload" >
        <input type="submit" onclick="uploadFile()">
    </section>
    <script>
        async function uploadFile() {
            console.log("...")
            token = localStorage.getItem("token")
            if (!token) {
                alert('Please login in and try again!');
            }
            let formData = new FormData(); 
            fileupload = document.getElementById("file1")
            formData.append("file", fileupload.files[0]);
                //network request using POST method of fetch
            await fetch('/api/upload', { 
            method: "POST", 
            body: formData,
            headers: {
                Authorization: `Bearer ${token}`
            }
            }).then(async rawResponse => {
                var res = await rawResponse.json()
                if (res.error != null) {
                    alert(res.error)
                } else {
                    alert(res.message + "\nGo to show page to find it");
                    window.location.replace("/");
                }
                })
            .catch(error => {
                alert(error.error);
            });; 
            
        }
    </script>
</body>
</html>